global-include *.pyx
global-include *.pxi
global-include *.c
global-include *.h
global-exclude *.o
global-exclude *.so
global-exclude *.dll
global-exclude *.pyd
global-exclude *.png
global-exclude *.jpg
global-exclude *.pdf
global-exclude *.R
global-exclude *.Rd
global-exclude *.md
include pyproject.toml
exclude poismf/*.c
exclude poismf/*.cpp
exclude poismf/*.h
exclude poismf/*.hpp
exclude src/Makevars
exclude src/rwrapper.c
exclude DESCRIPTION
exclude NAMESPACE
exclude .gitignore
exclude .gitattributes
exclude .Rbuildignore
exclude docs/*
prune docs/*
prune R/*
prune man/*
prune tables/*
prune formula/*
prune example/*
