importFrom("methods", "as")
importFrom(Rcpp, evalCpp)
importFrom("utils", "head")
importFrom("stats", "runif", "rgamma", "rpois")
importClassesFrom("Matrix", "dgCMatrix", "dgTMatrix", "dsparseVector")
importClassesFrom("SparseM", "matrix.coo", "matrix.csr", "matrix.csc")
useDynLib(poismf, .registration=TRUE)
export(poismf)
S3method(predict, poismf)
S3method(print, poismf)
S3method(summary, poismf)
export(predict_all)
