importFrom("methods", "as", "new")
importFrom("utils", "head")
importFrom("stats", "runif", "rpois")
importFrom("Matrix", "t")
importClassesFrom("Matrix", "dgCMatrix", "dgTMatrix", "dsparseVector")
useDynLib(poismf, .registration=TRUE)
export(poismf)
export(poismf_unsafe)
export(factors.single)
export(factors)
S3method(predict, poismf)
S3method(print, poismf)
S3method(summary, poismf)
export(topN)
export(topN.new)
export(calc.all.counts)
export(get.factor.matrices)
export(get.model.mappings)
export(poisson.llk)
